@import "tailwindcss";

@font-face {
  font-family: "Space Grotesk";
  src: url(/fonts/SpaceGrotesk-Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url(/fonts/SpaceGrotesk-Medium.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url(/fonts/SpaceGrotesk-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Space Grotesk";
  src: url(/fonts/SpaceGrotesk-Bold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter_18pt-Regular.woff2) format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter_18pt-Medium.woff2) format("woff2");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter_18pt-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url(/fonts/Inter_18pt-Bold.woff2) format("woff2");
  font-weight: 700;
  font-display: swap;
}

@theme {
  --font-inter: "Inter", sans-serif;
  --font-space: "Space Grotesk", sans-serif;
  --color-deep-space: #0a0a0f;
  --color-cosmic-blue: #1a1a2e;
  --color-nebula-purple: #16213e;
  --color-starlight: #e94560;
  --color-accent-cyan: #0f3460;
  --color-text-primary: #eaeaea;
  --color-text-secondary: #a0a0a0;
  --color-glow: rgba(233, 69, 96, 0.3);
}
@layer base {
  html {
    @apply scroll-smooth scroll-p-16;
  }
  body {
    @apply overflow-x-hidden font-inter text-text-primary text-base bg-deep-space bg-fixed;
  }
  .container {
    @apply max-w-7xl w-full mx-auto px-4;
  }
  h1 {
    @apply text-[clamp(2rem,6vw,3rem)] font-bold;
  }
  h2 {
    @apply text-[clamp(1.5rem,5vw,2.5rem)] font-bold;
  }
  h3 {
    @apply text-[clamp(1.25rem,4vw,2rem)] font-bold;
  }
  h4 {
    @apply text-[clamp(1rem,3vw,1.75rem)] font-bold;
  }
  h5 {
    @apply text-xl font-semibold;
  }
  h6 {
    @apply text-lg font-semibold;
  }
}

@layer components {
  .headerNav ul {
    @apply flex flex-col gap-5 fixed w-full top-26 text-left items-start overflow-hidden right-0 h-0 opacity-0 duration-300 md:opacity-100 md:flex-row md:items-center md:top-auto md:h-auto md:static md:shadow-none;
  }
  .headerNav ul.open {
    @apply h-fit opacity-100 bg-deep-space shadow-md w-full top-22 px-4 pb-3 duration-300 md:shadow-none md:px-0 md:pb-0;
  }
  .toggleMenu span {
    @apply inline-block w-5 h-0.5 rounded-xl bg-text-primary;
  }
  .toggleMenu.open span:first-child {
    @apply rotate-45 translate-y-2 duration-100;
  }
  .toggleMenu.open span:nth-child(2) {
    @apply opacity-0;
  }
  .toggleMenu.open span:last-child {
    @apply -rotate-45 -translate-y-1;
  }
  .toggleMenu {
    @apply flex flex-col gap-1 md:hidden;
  }
  .transparent {
    @apply hidden;
  }
  .transparent.open {
    @apply block fixed h-screen w-full backdrop-blur-sm left-0 top-75 duration-300 overflow-y-hidden;
  }
  .logo {
    @apply flex items-center gap-2 font-space;
  }
  .logo-icon {
    @apply flex items-center justify-center rounded-full w-10 h-10 bg-[radial-gradient(circle_at_top,var(--color-starlight),var(--color-cosmic-blue))];
  }
  .hero-section {
    @apply relative overflow-hidden py-28 bg-[radial-gradient(circle_at_top,var(--color-cosmic-blue),var(--color-deep-space))];
  }
  .hero-badge {
    @apply inline-flex items-center gap-2 border border-starlight/40 text-starlight px-5 py-2 rounded-full mb-6;
  }
  .btn {
    @apply inline-block px-6 py-3 rounded-full font-medium w-full text-center md:w-auto;
  }
  .btn-primary {
    @apply bg-starlight shadow-[0_0_30px_var(--color-glow)] hover:scale-105 transition;
  }
  .btn-outline {
    @apply border border-white/20 hover:border-white transition;
  }
  .stat-card {
    @apply bg-[#111118] border border-white/5 rounded-xl p-10 text-center transition hover:border-starlight/40 hover:shadow-[0_0_20px_var(--color-glow)] w-70;
  }
  .stat-card h3 {
    @apply text-starlight;
  }
  .stat-card p {
    @apply text-text-secondary mt-2;
  }
  .social-icon {
    @apply w-10 h-10 flex items-center justify-center rounded-full border border-white/10 text-text-secondary hover:border-starlight transition;
  }
  /* mission */
  .mission-card {
    @apply bg-nebula-purple rounded-2xl overflow-hidden shadow-md  cursor-pointer hover:scale-[1.02] transition;
  }
  .mission-img {
    @apply w-full h-56 object-cover;
  }
  .mission-body {
    @apply p-6;
  }
  .mission-body h5 {
    @apply text-starlight mb-2;
  }
  .mission-launch {
    @apply text-text-secondary text-sm mb-2;
  }
  .mission-desc {
    @apply text-text-secondary/80 text-sm leading-relaxed mb-5;
  }
  .mission-meta {
    @apply border-t border-white/10 pt-4 flex gap-6 text-sm text-text-secondary;
  }
  .mission-status {
    @apply absolute top-4 right-4 text-xs px-3 py-1 rounded-full;
  }
  .mission-status.active {
    @apply bg-green-500/20 text-green-400;
  }
  .mission-status.upcoming {
    @apply bg-red-500/20 text-red-400;
  }
  .parallax-bg {
    @apply bg-fixed bg-cover bg-center bg-no-repeat;
  }
}
